//-- General
html, body
	height: 100%
	width: 100%
	-webkit-font-smoothing: antialiased
	font: 16px $regular
	background: url(../../img/crossword.png)
	-moz-osx-font-smoothing: grayscale



.container
	width: 1200px
	h1, h2
		text-align: center
		margin: 5% 0 2% 0
	ul.tasks
		list-style: none
		margin: 2% auto 7%
		width: 765px
		li
			padding-top: 10px
			input
				width: 700px
				height: 55px
				border: 0
				border-bottom: 2px solid black
				font-size: 40px
				padding: 1.5%
				background: rgba(250,241,218,0.2)
	h1.complete
		margin: 1% 0 1% 0

	h1.arrow
		margin-bottom: 1500px
		font-size: 3.5rem
		margin-top: 0


			
			
 

